@model ListAllQuestsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>Questlogs</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
    <h2>Questlogs</h2>
    <div>
        <a asp-action="Create">Create new Quest</a>
    </div>
    @foreach (var questlog in Model.Quests)
    {
        <h3>@questlog.Title</h3>
        <p>@questlog.Description</p>
        <h6>Objectives</h6>
        <ul>
            @foreach (var objective in questlog.Objectives)
            {
                <li><p>@objective</p></li>
            }
        </ul>
    }
</body>
</html>